@tailwind base;
@tailwind components;
@tailwind utilities;
main {
    font-family: "Acme", sans-serif;
}

.text-red {
    color: red;
}
.bg-home, .bg-notes {
    background-size: cover;
}
.bg-main {
    font-family: "DM Sans", sans-serif;
    background: radial-gradient(circle at -53% 52%, #1b084a 0%, #080516 78%, #1b084a 431%);
}